*.iml
.gradle
/local.properties
/.vscode
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
Screenshot_*.jpg
_latest_phone.png
_local_dump.txt
